.AboutSchools{
 .container{
   .Common_content{
     display: flex;
     .left{
       @extend .CommonBar;
     }
     .right{
       flex: 3;
       h2{
         font-size: 35px;
         margin-left: 20px;
         margin-top: 0;
       }
       div{
         margin: 60px 20px;
         color: #818181;
         font-size: 15px;
         line-height: 2em;
       }
     }
   }
 }
}