.Career-Form{
  .Common_content{
    display: flex;
    .left{
      @extend .CommonBar;
    }
    .right{
      flex: 3;
      box-sizing: border-box;
      h2{
        width: 90%;
        font-size: 25px;
        margin: 20px auto;
      }
      form{
        width: 90%;
        margin: 60px auto 0 auto ;
        legend{
          width: 90%;
          color: $SecondColor;
          font-weight: 600;
          margin-bottom: 5px;
          font-size: 20px;
        }
        hr{
          height:1px;
          background-color: #818181;
          width: 148px;
          border: 0;
          margin: 0 ;
        }
        .FormDiv{
          margin: 30px 0;
          label{
            display: block;
            font-size: 15px;
            font-weight: 600;
            margin: 10px 0;
          }
          input , select {
            outline: none;
            width: 100%;
            display: block;
            height: 40px;
            padding-left: 10px;
            border: 1px solid #eee;
            border-radius:3px ;
            @include transition(0.5);
            &:focus,&:active{
              border-color: $SecondColor;
            }
          }
          input[type="file"]{
            border: none;
          }
          .ButtonRegister{
            display: block;
            width: 35%;
            height: 45px;
            margin: 0 auto;
            margin-top: 30px;
            box-sizing: border-box;
            border: 1px solid #F6F6F6;
            border-radius:3px ;
            background-color: $SecondColor;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            @include transition(0.5);
            &:hover{
              background-color: black;
              color: white;
            }
          }
        }

      }
    }
  }

}