
.File{
  .Common_content{
    display: flex;
    .left{
      @extend .CommonBar;
    }
    .right{
      flex: 3;
      h2{
        font-size: 35px;
        margin-left: 20px ;
        margin-top: 0;
      }
      ul{
        margin: 20px ;
        padding-left: 0;
        li{
          list-style: none;
          box-sizing: border-box;
          width: 100%;
          margin: 40px auto;
          padding: 15px 10px;
          box-shadow: 3.5px 6px 25px 0 rgba(0, 0, 0, 0.1);
          @include transition(0.5);
          a{
            svg{
              height: 15px;
              width: 15px;
              padding: 0 5px;
              Fill:$SecondColor;
            }
            span{
              font-size: 15px;
              font-weight: 600;
            }
          }
          div{
            display: none;
            ul{
              li{
                display: flex;
                justify-content: space-between;
                p{
                  width: 70%;
                  color: #818181;
                }
                button{
                  display: block;
                  width: 25%;
                  box-sizing: border-box;
                  border: 1px solid #F6F6F6;
                  border-radius:3px ;
                  background-color: $SecondColor;
                  @include transition(0.5);
                  a{
                    display: block;
                    padding: 15px 0;
                    font-size: 15px;
                    font-weight: 700;
                    color: black;
                    @include transition(0.5);
                  }
                  &:hover{
                    background-color: black;
                    a{
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}

@media (min-width: 551px) and (max-width: 767px) {
  .File{
    .Common_content{
      .right{
        ul{
          li{
            div{
              ul{
                li{
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  p{
                    width:100%;
                  }
                  button{
                    width:70%;
                    margin: 0 auto;
                  }
                }

              }
            }
          }
        }

      }
    }
  }
}