
.Login {
  overflow: hidden;
  display: block;
  box-sizing: border-box;

  p {
    color: #000;
    font-size: 14px;
    margin-bottom: 10px !important;
  }

  .login-page {
    overflow: hidden;
    width: 40%;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    padding: 15px;
    border: 1px solid #eee;

    h1 {
      display: block;
      text-transform: uppercase;
      font-size: 25px;
      line-height: 1.6;
      font-weight: bold;
    }

    p {
      color: #818181;
      font-size: 16px;
      line-height: 1.7;
      margin-bottom: 20px;
      font-weight: 100;
    }

    .success-message {
      box-sizing: border-box;
      overflow: hidden;
      height: auto;
      display: block;
      margin-bottom: 10px;
      text-align: center;
      padding: 10px;
      border-radius: 3px;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      background: #5cb85c;
    }

    .error-message {
      box-sizing: border-box;
      overflow: hidden;
      height: auto;
      display: block;
      margin-bottom: 10px;
      text-align: center;
      padding: 10px;
      border-radius: 3px;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      background: #d9534f;
    }

    .row-form {
      overflow: hidden;
      height: auto;
      width: 100%;
      display: block;
      margin-bottom: 20px;
      box-sizing: border-box;

      label {
        display: block;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      input, select {
        outline: 0;
        box-sizing: border-box;
        width: 100%;
        display: block;
        height: 40px;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 3px;
        @include transition(0.5);

        &:focus {
          border: 1px solid $SecondColor;
          @include transition(0.5);
        }
      }

      .button {
        width: 100%;
        display: block;
        padding: 0px;
        line-height: 40px;
        height: 40px;
        text-align: center;
        background: $SecondColor;
        font-size: 15px;
        color: #000;
        font-weight: 400;
        border: 0;
        border-radius: 3px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        @include transition(0.5);

        &:hover {
          background: #000;
          color: white;
          @include transition(0.5);
        }
      }
    }
  }

  .checkbox-input {
    input {
      width: 18px !important;
      height: 18px !important;
      vertical-align: middle;
      margin-right: 5px;
      border-radius: 2px !important;
      float: left;
      border: 1px solid #fff;
    }

    label {
      color: #fff;
      font-size: 16px;
      padding-top: 1px;
      float: left;
    }

    .custom-checkbox {
      -webkit-appearance: none;
      background-color: #ffffff;
      padding: 9px;
      border-radius: 2px;
      display: inline-block;
      position: relative;
      margin: 0;
      border: 1px solid #fff;
      margin-right: 5px;
      cursor: pointer;

      &:checked {
        background-color: $SecondColor;
        border: 1px solid $SecondColor;

        &:after {
          content: '\2714';
          font-size: 15px;
          position: absolute;
          top: 0;
          left: 5px;
          color: #fff;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  .forget-pass {
    float: right;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
  }

  .login-facebook {
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: 600;
    background: #39579A;
    @include transition(0.5);
    svg {
      width: 15px;
      height: 15px;
      fill: #fff;
      vertical-align: top;
    }

    &:hover {
      background: #25407b;
      @include transition(0.5);
    }
  }
  .sign-up{
    font-size: 15px;
    margin-bottom: 15px;
    a{
      color: $FirstColor;
      @include transition(0.5);
      &:hover{
        color: $SecondColor;
      }
    }
  }
}

@media (min-width: 551px) and (max-width: 767px) {
  .Login {
    .login-page {
      width: 60%;
    }
  }
}
