/*
 * Mootools Events Calendar - 100% x 500px
*/

/* Calendar Header/Controls */
.mooECal{margin:0; padding:0; width:100%; height:500px; border:1px solid #999; border-right:none; text-align:center; border-collapse:separate; }
.mooECal li, .mooECal ul{list-style:none; display:inline; margin:0; padding:0;}
.thControls, .ulControls{text-align:right;}
.thControls{ border-bottom:1px solid #999; border-right:1px solid #999; height:35px;}
.mooECal .liHeaderCal{font-size:1.2em; float:left; width:67%; text-align:center; margin-left:2%;} /* date range of current view */
.aPrevCal,.aNextCal{text-decoration:none; font-size:30px;} /* right/left nav arrow */
.mooECal .liNextCal{float:left;}
.mooECal .liLoading{font-size:0.8em; color:#999; letter-spacing:0.2em; margin-right:3%;}/* "loading..." text */
/* month, week, day view links*/
.ulViewPicker li{float:left;}
.aViewCal{text-decoration:none; font-size:14px; margin-bottom: 10px;margin-left:0.8em; color:#999;}
.aViewCal:hover{text-decoration:underline;}
/* mon, tues, wed ... row */
.mooECal tr.dowRow th{border-right:1px solid #999; font-size:0.9em; text-align:center;}
.mooECal tr.dowRow th li{float:right; width:14.2%;}


/* Calendar Body */
.monthWeek{overflow:hidden;}
.weekWeek,.dayDay{height:90%;}
.monthDay,.weekDay,.dayDay{border:1px solid #999; border-left:none; border-bottom:none; width:14%;width:14%; text-align:right; vertical-align:top; }
.mooECal td{ cursor:pointer;}
.mooECal td.dayDay{padding:2%;}
.mooECal td.hover{} /* color when hovering a day */
.mooECal td.selected{background-color:#EEF;} /* color for the selected day */
.mooECal td span{color:#333; font-size:0.8em;} /* day of the month (1-31) */
.monthDay div{height:60px; overflow:hidden; cursor:default;}
.mooECal td div div{font-size:11px; color:#009; height:15px; vertical-align:top; overflow:hidden; cursor:default; line-height:15px;  margin:2px; cursor:help;}
.mooECal td a{font-size:11px; color:#009; text-decoration:underline;padding-bottom:5px;line-height:15px;}
.mooECal td div.fullEvent{height:auto; overflow:auto; font-size:14px; border-bottom:1px solid #DDD; line-height:30px;}
/* tips styling */
.tip {color: #fff; z-index: 13000; background-color:#666; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.tip-title {font-weight:bold; font-size: 11px; margin: 0; padding: 8px 8px 4px;}
.tip-text {font-size:11px; padding: 4px 8px 8px;}
.tip a{text-decoration:none; color:#FFF; font-size: 11px;}
